<!DOCTYPE HTML>
<html>
<head>
    <title>Vinted Homework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    {% block pageContent %}

    {% endblock %}
</body>
</html>
